.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    font-weight: bold;
    flex-basis: 20%;
    margin: 0 2rem 10px;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.orders {
    display: flex;
    flex-flow: column;
    font-size: 16px;
    font-weight: bold;
    list-style-position: inside;
    text-indent: 120px;
}

